<!--{strip}--><!--{clean}-->

<!--{if $debug}-->
<!--{assign var='debugTail' value='-debug'}-->
<!--{/if}-->

<!-- Ext JS -->
<script type="text/javascript" src="<!--{$relpath}--><!--{$extjsdir}-->/adapter/<!--{$adapter|default:"ext/ext-base.js"}-->"></script>
<script type="text/javascript" src="<!--{$relpath}--><!--{$extjsdir}-->/ext-all<!--{$debugTail}-->.js"></script>
<script type="text/javascript" src="<!--{$relpath}--><!--{$extjsdir}-->/examples/ux/ux-all<!--{$debugTail}-->.js"></script>
<script type="text/javascript" src="<!--{$relpath}--><!--{$extjsdir}-->/src/locale/ext-lang-ja.js"></script>
<!-- /Ext JS -->

<!--{/clean}--><!--{/strip}-->
