<?xml version="1.0" encoding="utf-8"?>
<!--{strip}--><!--{clean}-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>

    <!-- content-type -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <!-- /content-type -->

    <!-- content-script-type -->
    <meta http-equiv="content-script-type" content="text/javascript" />
    <!-- /content-script-type -->

    <!-- content-style-type -->
    <meta http-equiv="content-style-type" content="text/css" />
    <!-- /content-style-type -->

    <!-- favicon -->
    <link rel="shortcut icon" href="<!--{$relpath}-->OmegaTrick/resources/images/favicon.ico" />
    <link rel="icon" href="<!--{$relpath}-->OmegaTrick/resources/images/favicon.ico" />
    <!-- /favicon -->

    <!-- ext-all.css -->
    <!--{if $ext}-->
    <link rel="stylesheet" type="text/css" href="<!--{$relpath}--><!--{$extjsdir}-->/resources/css/ext-all.css" />
    <!--{/if}-->
    <!-- /ext-all.css -->

    <!-- Ext JS Theme -->
    <!--{if $theme}-->
    <link rel="stylesheet" type="text/css" href="<!--{$relpath}--><!--{$extjsdir}-->/resources/css/xtheme-<!--{$extjs_theme}-->.css" />
    <!--{/if}-->
    <!-- Ext JS Theme -->

    <!-- ux-all.css -->
    <!--{if $ux}-->
    <link rel="stylesheet" type="text/css" href="<!--{$relpath}--><!--{$extjsdir}-->/examples/ux/css/ux-all.css" />
    <!--{/if}-->
    <!-- /ux-all.css -->

    <!-- Omega Trick -->
    <!--{if $trick}-->
    <link rel="stylesheet" href="<!--{$relpath}--><!--{$omegatrickdir}-->/resources/css/OmegaTrick-all.css" type="text/css" />
    <!--{/if}-->
    <!-- /Omega Trick -->

<!--{/clean}--><!--{/strip}-->
