<!--{strip}--><!--{clean}-->

<!-- Omega Trick -->
<!--{if $debug}-->

    <script type="text/javascript" src="<!--{$relpath}--><!--{$omegatrickdir}-->/src/app/Entry.js"></script>
    <script type="text/javascript" src="<!--{$relpath}--><!--{$omegatrickdir}-->/src/app/App.js"></script>
    <script type="text/javascript" src="<!--{$relpath}--><!--{$omegatrickdir}-->/src/widgets/SigninWindow.js"></script>
    <script type="text/javascript" src="<!--{$relpath}--><!--{$omegatrickdir}-->/src/plugins/DisplayFieldNumberFormat.js"></script>
    <script type="text/javascript" src="<!--{$relpath}--><!--{$omegatrickdir}-->/src/plugins/FocusActive.js"></script>
    <script type="text/javascript" src="<!--{$relpath}--><!--{$omegatrickdir}-->/src/util/Clone.js"></script>
    <script type="text/javascript" src="<!--{$relpath}--><!--{$omegatrickdir}-->/src/util/Phantom.js"></script>
    <script type="text/javascript" src="<!--{$relpath}--><!--{$omegatrickdir}-->/src/util/ScriptLoader.js"></script>
    <script type="text/javascript" src="<!--{$relpath}--><!--{$omegatrickdir}-->/src/widgets/Component.js"></script>
    <script type="text/javascript" src="<!--{$relpath}--><!--{$omegatrickdir}-->/src/widgets/form/FormPanel.js"></script>
    <script type="text/javascript" src="<!--{$relpath}--><!--{$omegatrickdir}-->/src/widgets/layout/ScreenLayout.js"></script>
    <script type="text/javascript" src="<!--{$relpath}--><!--{$omegatrickdir}-->/src/widgets/ScreenPanel.js"></script>
    <script type="text/javascript" src="<!--{$relpath}--><!--{$omegatrickdir}-->/src/widgets/TrickPanel.js"></script>
    <script type="text/javascript" src="<!--{$relpath}--><!--{$omegatrickdir}-->/src/widgets/parts/List.js"></script>
    <script type="text/javascript" src="<!--{$relpath}--><!--{$omegatrickdir}-->/src/widgets/parts/Unit.js"></script>
    <script type="text/javascript" src="<!--{$relpath}--><!--{$omegatrickdir}-->/src/widgets/parts/SearchDetail.js"></script>
    <script type="text/javascript" src="<!--{$relpath}--><!--{$omegatrickdir}-->/src/core/Store.js"></script>
    <script type="text/javascript" src="<!--{$relpath}--><!--{$omegatrickdir}-->/src/core/Config.js"></script>
    <script type="text/javascript" src="<!--{$relpath}--><!--{$omegatrickdir}-->/src/core/String.js"></script>
    <script type="text/javascript" src="<!--{$relpath}--><!--{$omegatrickdir}-->/src/core/Ext.js"></script>

<!--{else}-->

    <script type="text/javascript" src="<!--{$relpath}--><!--{$omegatrickdir}-->/OmegaTrick-all.js"></script>

<!--{/if}-->
<!-- /Omega Trick -->

<!--{/clean}--><!--{/strip}-->
