<!--{strip}--><!--{clean}-->

<!-- Ext.trick.Config -->
<script type="text/javascript" src="<!--{$relpath}-->OmegaTrick/src/core/Config.js"></script>
<!-- /Ext.trick.Config -->

<!-- Ext.trick.unit.TestCase -->
<script type="text/javascript" src="<!--{$relpath}-->OmegaTrick/src/unit/TestCase.js"></script>
<!-- /Ext.trick.unit.TestCase -->
    
<!-- Ext.trick.unit.TestSuite -->
<script type="text/javascript" src="<!--{$relpath}-->OmegaTrick/src/unit/TestSuite.js"></script>
<!-- /Ext.trick.unit.TestSuite -->

<!-- Ext.trick.unit.TestLogger -->
<script type="text/javascript" src="<!--{$relpath}-->OmegaTrick/src/unit/TestLogger.js"></script>
<!-- /Ext.trick.unit.TestLogger -->

<!-- Ext.trick.unit.TestRunner -->
<script type="text/javascript" src="<!--{$relpath}-->OmegaTrick/src/unit/TestRunner.js"></script>
<!-- /Ext.trick.unit.TestRunner -->
    
<!--{/clean}--><!--{/strip}-->
