<!--{strip}--><!--{clean}-->

<link rel="stylesheet" type="text/css" href="<!--{$relpath}-->yui/build/logger/assets/skins/sam/logger.css" />
<link rel="stylesheet" type="text/css" href="<!--{$relpath}-->yui/build/fonts/fonts-min.css" />
<link rel="stylesheet" type="text/css" href="<!--{$relpath}-->yui/build/yuitest/assets/skins/sam/yuitest.css" />

<script src="<!--{$relpath}-->yui/build/yahoo-dom-event/yahoo-dom-event.js"></script>
<script src="<!--{$relpath}-->yui/build/logger/logger-min.js"></script>
<script src="<!--{$relpath}-->yui/build/yuitest/yuitest-min.js"></script>

<!--{/clean}--><!--{/strip}-->