/* vim: set expandtab tabstop=2 shiftwidth=2 softtabstop=2: */

/**
 * alignment.css
 */

/* General */

.center,.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* Images */

img.bordered,img.alignleft,img.alignright,img.aligncenter {
  background-color: #FFF;
  border: 1px solid #DDD;
  padding: 3px;
}
img.alignleft, img.left {margin: 0 1.5em 1em 0;}
img.alignright, img.right {margin: 0 0 1em 1.5em;}


/* Floats */   

.left,.alignleft {float: left;}
.right,.alignright {float: right;}

.clear,.clearer {clear: both;}
.clearer {
  display: block;
  font-size: 0;
  line-height: 0;
  height: 0;
}

/*
 * Local variables:
 * tab-width: 2
 * c-basic-offset: 2
 * c-hanging-comment-ender-p: nil
 * End:
 */
