/* vim: set expandtab tabstop=2 shiftwidth=2 softtabstop=2: */

/**
 * footer.css
 */
#footer {
  border-top: 1px solid #DDD;
  color: #777;
  padding: 16px 0 4px;
}
#footer-left {width: 459px;}
#footer-right {
  width: 459px;
  text-align: right;
}
#footer p {margin-bottom: 0.4em;}
#footer .text-separator {
  padding: 0 3px;
  color: #BBB;
}
#footer a:hover {color: #000;}

/*
 * Local variables:
 * tab-width: 2
 * c-basic-offset: 2
 * c-hanging-comment-ender-p: nil
 * End:
 */
