/* vim: set expandtab tabstop=2 shiftwidth=2 softtabstop=2: */

/**
 * forms.css
 */
label {
  cursor: pointer;
  font-weight: bold;
}
label.checkbox, label.radio {font-weight: normal;}
legend {
  font-weight: bold;
  font-size: 1.2em;
}
textarea {overflow: auto;}
input.text, textarea, select {
  background: #FCFCFC;
  border: 1px inset #AAA;
  margin: 0.5em 0;
  padding: 4px 5px;
}
input.text:focus, textarea:focus, select:focus {background: #FFFFF5;}

input.button {
  background: #DDD;
  border: 1px outset #AAA;
  padding: 4px 5px;
}
input.button:active {border-style: inset;}


/* Specific */

form .required {font-weight: bold;}

.form-error {border-color: #F00;}
.form-row {padding: 5px 0;}
.form-row-submit {
  border-top: 1px solid #DDD;
  padding: 8px 0 10px 76px;
  margin-top: 10px;
}
.legend {
  background: #F0FAF0;
  border: 1px solid #D6DFD6;
  font-size: 1.5em;
  margin: 0;
  padding: 8px 14px;
}
.form-property, .form-value {float: left;}
.form-property {
  padding-top: 8px;
  text-align: right;
  width: 60px;
}
.form-value {padding-left: 16px;}
.form-error {border-color: #F00;}


/*
 * Local variables:
 * tab-width: 2
 * c-basic-offset: 2
 * c-hanging-comment-ender-p: nil
 * End:
 */
