/* vim: set expandtab tabstop=2 shiftwidth=2 softtabstop=2: */

/**
 * geneal.css
 */
html {
  height: 100%;
  padding-bottom: 1px; /* force scrollbars */
}

body {
  background: #FFF;
  color: #444;
  font: normal 75% sans-serif;
  line-height: 1.5;
}

/*
 * Local variables:
 * tab-width: 2
 * c-basic-offset: 2
 * c-hanging-comment-ender-p: nil
 * End:
 */
