/* vim: set expandtab tabstop=2 shiftwidth=2 softtabstop=2: */

/**
 * typography.css
 */

/* Headings */

h1,h2,h3,h4,h5,h6 {
  color: #444;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 0.3em;
}

h4,h5,h6 {
  font-weight: bold;
}

h1 {
  font-size: 2.6em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1.1em;
}

h6 {
  font-size: 1em;
}

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}


/* Links */

a:focus,a:hover {color: #039;}

a {
  color: #456;
  text-decoration: none;
}
a:hover {text-decoration: underline;}

a.feed {
  background: url('img/icon-feed.gif') no-repeat left center;
  padding-left: 18px;
}
a.more {
  color: #579;
  font-weight: bold;
}
a.more:hover {color: #234;}


/* Text elements */

p {margin-bottom: 1em;}

abbr, acronym {border-bottom: 1px dotted #666;}
address {margin-bottom: 1.5em;}
blockquote {margin: 1.5em;}
del, blockquote { color:#666; }
em, dfn, blockquote, address {font-style: italic;}
strong, dfn {font-weight: bold;}
sup, sub {line-height: 0;}

pre {
  margin: 1.5em 0;
  white-space: pre;
}
pre,code,tt {
  font: 1em monospace;
  line-height: 1.5;
}


/* Lists */

li ul, li ol {margin-left: 1.5em;}
ul, ol {margin: 0 0 1.5em 1.5em;}

ul {list-style-type: disc;}
ol {
  list-style-type: decimal;
  margin-left: 1.9em;
}

dl {margin: 0 0 1.5em 0;}
dl dt {font-weight: bold;}
dd {margin-left: 1.5em;}


/* Special lists */

ul.plain-list li, ul.nice-list li, ul.tabbed li {
  list-style: none;
  margin-top: 0;
}

ul.tabbed {
  display: inline;
  margin: 0;
}
ul.tabbed li {float: left;}

ul.plain-list {margin: 0;}

ul.nice-list {margin-left: 0;}
ul.nice-list li {
  border-top: 1px solid #EEE;
  list-style: none;
  padding: 4px 0;
}
ul.nice-list li:first-child {border-top: none;}
ul.nice-list li .right {color: #999;}


/* Tables */

table {margin-bottom: 1.4em; width: 100%;}
th {font-weight: bold;}
thead th {background: #C3D9FF;}
th,td,caption {padding: 4px 10px 4px 5px;}
tr.even td {background: #F2F6FA;}
tfoot {font-style: italic;}
caption {background: #EEE;}

table.data-table {
  border: 1px solid #CCB;
  margin-bottom: 2em;
  width: 100%;
}
table.data-table th {
  background: #F0F0F0;
  border: 1px solid #DDD;
  color: #555;
  text-align: left;
}
table.data-table tr {border-bottom: 1px solid #DDD;}
table.data-table td, table th {padding: 10px;}
table.data-table td {
  background: #F6F6F6;
  border: 1px solid #DDD;
}
table.data-table tr.even td {background: #FCFCFC;}


/* Misc classes */

.small {font-size: 0.9em;}
.smaller {font-size: 0.8em;}
.smallest {font-size: 0.7em;}

.large {font-size: 1.15em;}
.larger {font-size: 1.25em;}
.largest {font-size: 1.35em;}

.hidden {display: none;}

.quiet, .quiet a {color: #999;}
.loud, .loud a {color: #000;}
.highlight, .highlight a {background:#ff0;}

.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center {text-align: center;}
.text-separator {padding: 0 5px;}

.error, .notice, .success {
  border: 1px solid #DDD;
  margin-bottom: 1em;
  padding: 0.6em 0.8em;
}

.error {background: #FBE3E4; color: #8A1F11; border-color: #FBC2C4;}
.error a {color: #8A1F11;}

.notice {background: #FFF6BF; color: #514721; border-color: #FFD324;}
.notice a {color: #514721;}

.success {background: #E6EFC2; color: #264409; border-color: #C6D880;}
.success a {color: #264409;}


/* Labels */
.label {
  border-left-style: solid;
  border-left-width: 4px;
  margin-bottom: 0.2em;
  padding-left: 10px;
}

.label-blue {border-left-color: #55AADA;}
.label-green {border-left-color: #B7D897;}
.label-orange {border-left-color: #FA8F6F;}



/*
 * Local variables:
 * tab-width: 2
 * c-basic-offset: 2
 * c-hanging-comment-ender-p: nil
 * End:
 */
