<?xml version="1.0" encoding="utf-8"?><!--{config_load file='XHTML.conf'}-->
<!--{strip}--><!--{clean}-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>

    <!-- favicon -->

    <!--{if $favicon}-->
    <link rel="shortcut icon" href="<!--{$relpath}--><!--{$favicon}-->" />
    <link rel="icon" href="<!--{$relpath}--><!--{$favicon}-->" />
    <!--{/if}-->

    <!-- /favicon -->


    <!-- content-type -->

    <!--{if $smarty.config.Meta_content_type}-->
    <!--{include file="../templates/XHTML/head/meta/content_type.tpl"}-->
    <!--{/if}-->

    <!-- /content-type -->


    <!-- content-script-type -->

    <!--{if $smarty.config.Meta_content_script_type}-->
    <!--{include file="../templates/XHTML/head/meta/content_script_type.tpl"}-->
    <!--{/if}-->

    <!-- /content-script-type -->


    <!-- content-style-type -->

    <!--{if $smarty.config.Meta_content_style_type}-->
    <!--{include file="../templates/XHTML/head/meta/content_style_type.tpl"}-->
    <!--{/if}-->

    <!-- /content-style-type -->


    <!-- ext-all.css -->

    <!--{if $smarty.config.Link_ext_all}-->
    <!--{include file="../templates/XHTML/head/link/ext_all.tpl"}-->
    <!--{/if}-->

    <!-- /ext-all.css -->


    <!-- Ext JS Theme -->

    <!--{if $smarty.config.Link_ext_theme}-->
    <!--{include file="../templates/XHTML/head/link/ext_theme.tpl"}-->
    <!--{/if}-->

    <!-- Ext JS Theme -->


    <!-- ux-all.css -->

    <!--{if $smarty.config.Link_ext_ux_all}-->
    <!--{include file="../templates/XHTML/head/link/ext_ux_all.tpl"}-->
    <!--{/if}-->

    <!-- /ux-all.css -->


    <!-- Omega Trick -->

    <!--{if $smarty.config.Link_omegatrick_all}-->
    <!--{include file="../templates/XHTML/head/link/omegatrick_all.tpl"}-->
    <!--{/if}-->

    <!-- /Omega Trick -->


<!--{/clean}--><!--{/strip}-->
